<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap.min.css">

    <script type="text/javascript" src="/js/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/common.js"></script>
    
</head>
<body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">留言板</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    
                    <% if (username) { %>
                        <li><a href="#"><%= username %></a></li>
                        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> 退出登录</a></li>                        
                    <% } else { %>
                        <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <% } %>

                </ul>
            </div>
        </nav>

        <div class="container">
             
            <div class="row" >
                <div class="col-md-8 col-md-offset-1">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="id-input-title" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id-input-title" placeholder="请输入标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-input-content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="id-input-content" rows="3" placeholder="请输入内容"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id='id-button-submit'>发表</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row" >
                <div class="col-md-8 col-md-offset-1" id="id-div-msg-list">

                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            测试标题
                        </div>
                        <div class="panel-body">
                            测试内容
                            <p class="text-right"><span>作者</span>@<time>2019-01-08</time></p>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
        <script src="/js/main.js"></script> 
</body>
</html>
